body{
    background-color: gray;
}
h1{
    color:lightblue;
    margin-left:40rem;
    font-size:3rem;
}
p{
    font-family: fantasy;
    font-size:2rem;
}
#variable{
    color:darkred;
}
.type{
    font-size:2rem;
    margin-left: 5rem;
    
}
.use, .name{
    margin-left: 2rem;
    font-size:2rem;
}
.ex{
    display: inline-block;
    
}
.in{
    display: inline-block;
}
table{
    margin-top: 2rem;
}